<h1><span class="b">JSR</span><span class="w">EPL</span></h1>
<div id="save_wrapper">
	<a id="save">&laquo; save</a>
</div>
<div id="run_wrapper">
	<a id="run">run &nbsp;&raquo;</a>
</div>
<%= form_for Codebit.new do |f| %>
	<%= f.text_area :code, :value => @codebit.code %>
<% end %>
<div id="output">
	<span class="line removable"></span>
</div>